    <div class="poster">
     <div class="post postcontent">
      <center>
       <h2 class="entry-title">
        <a href="#" title="Lorem ipsum">404 stránka nenalezena</a>
       </h2>
       </center>
       <center>
        <p>
         <img src="{styleImagesDir}error.png">
        </p>
       </center>
     </div>
     <div class="clear"></div>
    </div>